@{
  ViewData["Title"] = "Rookie Index";
}

<h1>Rookie Index</h1>
<br />
<div>
  <ul>
    <li><a asp-action="A1E1">MVC Assignment 1 - Exercise 1</a></li>
    <li><a asp-action="A1E2">MVC Assignment 1 - Exercise 2</a></li>
    <li><a asp-action="A1E3">MVC Assignment 1 - Exercise 3</a></li>
    <li><a asp-action="A1E4">MVC Assignment 1 - Exercise 4</a></li>
    <li><a asp-action="A1E5">MVC Assignment 1 - Exercise 5</a></li>
  </ul>
  <ul>
    <li><a href="/swagger">Swagger</a> - https://localhost:5001/swagger</li>
  </ul>
</div>

