@{
  ViewData["Title"] = "Rookie Index";
}

<h1>Rookie Index</h1>
<br />
<div>
  <ul>
    <li><a asp-action="A1E1">Assignment 1 - Exercise 1</a></li>
    <li><a asp-action="A1E2">Assignment 1 - Exercise 2</a></li>
    <li><a asp-action="A1E3">Assignment 1 - Exercise 3</a></li>
    <li><a asp-action="A1E4">Assignment 1 - Exercise 4</a></li>
    <li><a asp-action="A1E5">Assignment 1 - Exercise 5</a></li>
  </ul>
</div>

